name: Build and Release Static Files

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Create empty local config
        run: echo '{}' > .local-config.json

      - name: Download IronRDP release TS files
        uses: robinraju/release-downloader@v1.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: netbirdio/IronRDP
          latest: true
          fileName: "*.ts"
          out-file-path: 'public/ironrdp-pkg'

      - name: Download IronRDP release JS files
        uses: robinraju/release-downloader@v1.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: netbirdio/IronRDP
          latest: true
          fileName: "*.js"
          out-file-path: 'public/ironrdp-pkg'

      - name: Download IronRDP release WASM file
        uses: robinraju/release-downloader@v1.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: netbirdio/IronRDP
          latest: true
          fileName: "ironrdp_web_bg.wasm"
          out-file-path: 'public/ironrdp-pkg'

      - name: Build static files
        run: npm run build

      - name: Prepare artifacts
        run: |
          mkdir -p out
          if [ -d "docker" ]; then
            cp docker/*.tmpl out/ 2>/dev/null || true
            cp docker/*.conf out/ 2>/dev/null || true
            cp docker/init_react_envs.sh out/ 2>/dev/null || true
          fi
          cp OIDC_TRUSTED_DOMAINS.js.tmpl out/ 2>/dev/null || true

      - name: Archive static files
        run: tar -czvf dashboard-static.tar.gz -C out .

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        with:
          files: dashboard-static.tar.gz
          name: "Dashboard Build ${{ github.run_id }}"
          tag_name: build-${{ github.run_id }}
          body: Automated build of Netbird Dashboard static files.
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
